@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
   
     --cor1: #FFFFFF ;
     --cor2: #D7EFFE;
     --cor3: #3DDC84;
     --cor4: #073042;
     --cor5: #000000;

    --font-principal: Arial, Helvetica, sans-serif;
    --font-h1: 'Bubblegum Sans', 'cursive';
    --font-h2: 'Android', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to left, #D7EFFE, #3DDC84  );
    font-family: var(--font-principal);
}

header{
    background-image: linear-gradient(to bottom, #073042, #000000 );
    min-width: 150px;
    padding: 20px;
    text-align: center;
}

header h1{
    color: white;
    font-family: var(--font-h1);
    margin-bottom: 10px;
    padding: 10px;
    text-shadow: 2px 2px 5px black;
}

header p{
    color: white;
    margin-top: 30px;
    font-size: 1.1em;
    margin: auto;
    max-width: 500px;
    padding: 10px 10px 10px 0px;
    text-shadow: 2px 2px 5px black;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 1px 5px black ;
}

nav a{
    color: white;
    font-weight: bolder;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    transition-duration: 0.5s ;
}

nav a:hover{
    background-color: var(--cor2);
    color: var(--cor4);
}

main{
   background-color: white;
   min-width: 320px;
   max-width: 800px;
   margin: auto;
   margin-bottom: 35px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   padding: 20px;
   box-shadow: 1px 1px 5px black;
 
}

main h1{
    color: var(--cor5);
    font-family: var(--font-h2);
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
   
}

main h2{
    color: var(--cor5);
    font-family: var(--font-h2);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 8px;
    background-image: linear-gradient(to right,#3DDC84, transparent);

}

main p{
    text-align: justify;
    text-indent: 30px;
    margin: 15px 0px;
    font-size: 1.0em;
    line-height: 2em;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 320px;
    display: block;
    margin: auto;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
    
}

main a{
    background-color: var(--cor3);
    color: var(--cor5);
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

div.video{
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 39%;
    position: relative;

}

div.video > iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

article{
    min-height: 320px;
    max-width: 800px;
    padding: 7px;
    border-radius: 10px;
    margin: auto;
}

aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
    
}

aside h3{
    background-color: var(--cor3);
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px ;
    padding: 10px;
}

aside ul{
    list-style-type: none;
    list-style-position: inside;
    columns: 2;
    width: auto;  
}

aside strong{
    color: var(--cor4);
    font-weight: bold;
}

footer{
    background-color: var(--cor4);
    color: white;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}



